<h3>Error Occurrence Details</h3>

<table class="table">
    <tr>
        <td class="col-sm-2">User:</td>
        <td class="col-sm-10"><%= errorOccurrence.userName %></td>
    </tr>
    <tr>
        <td>Server:</td>
        <td><%= errorOccurrence.server %> (<%= errorOccurrence.environment %>)</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td><%= moment(errorOccurrence.date).format("MMMM Do, YYYY [at] h:mm:ss a") %></td>
    </tr>
    <tr>
        <td>Message:</td>
        <td><%= errorOccurrence.message %></td>
    </tr>
    <tr>
        <td>Attachments:</td>
        <td><% if (! errorOccurrence.attachments.length) { %>
            None
            <% } else { %>
            <% for (var i = 0; i < errorOccurrence.attachments.length; i++) { %>
            <a href="/attachments/<%= errorOccurrence.errorOccurrenceId %>/<%= errorOccurrence.attachments[i].fileName %>" target="_new">
                <%= errorOccurrence.attachments[i].fileName %>
            </a>
            <% } } %>
        </td>
    </tr>
</table>