<%- include("template/header") %>

<% if (environments.length) { %>

<div class="container-fluid" ng-controller="DashboardController">

    <nav>
        <div class="nav nav-tabs">
            <span class="nav-item navbar-text mr-3">Environment</span>
            <% for (var i = 0; i < environments.length; i++) { %>
            <a class="nav-item nav-link" ng-class="{active: (currentEnvironment == '<%= environments[i].name %>')}" href="javascript:" ng-click="changeEnvironmentTab('<%= environments[i].name %>')">
                <%= environments[i].name %>
            </a>
            <% } %>
        </div>
    </nav>

    <div class="tab-content">
        <div ng-show="monitors.length">
            <svg version="1.1" id="ProgressGraph" width="100%" height="250px" graphType="line"></svg>
            <div id="ProgressGraphData" style="display: none;">
                <scores></scores>
                <dates></dates>
            </div>
        </div>
        <%- include("blocks/error-list") %>
    </div>

</div>

<% } else { %>

<div class="container-fluid">
    <div class="page-content">
        <section>
            <h1>Dashboard</h1>
            <p>No activity.</p>
        </section>
    </div>
</div>

<% } %>

<%- include("template/footer") %>