<%- include header.ejs %>

<div ng-controller="DashboardController">

    <ul class="container nav nav-tabs">
        <li class="navbar-text">Environment</li>
        <% for (var i = 0; i < environments.length; i++) { %>
        <li<% if (selected_environment == environments[i] ) { %> class="active"<% } %> environment="<%= environments[i] %>">
            <a href="#" ng-click="changeEnvironmentTab($event)"><%= environments[i] %></a>
        </li>
        <% } %>
    </ul>

    <div class="container">
    <%- include blocks/error-list.ejs %>
    </div>

</div>

<%- include footer.ejs %>