<%- include("template/header") %>

<% if (environments.length) { %>

<div ng-controller="DashboardController">

    <ul class="nav nav-tabs">
        <li class="nav-item"><span class="navbar-text ml-3 mr-3">Environment</span></li>
        <% for (var i = 0; i < environments.length; i++) { %>
        <li class="nav-item <% if (selectedEnvironment.environmentId == environments[i].environmentId ) { %> active<% } %>" environment="<%= environments[i].name %>">
            <a class="nav-link" href="#" ng-click="changeEnvironmentTab($event)"><%= environments[i].name %></a>
        </li>
        <% } %>
    </ul>

    <%- include("blocks/error-list") %>

</div>

<% } else { %>

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p>You have not logged any errors.</p>
</div>

<% } %>

<%- include("template/footer") %>