<%- include header.ejs %>

<% if (environments.length) { %>

<div ng-controller="DashboardController">

    <ul class="container nav nav-tabs">
        <li class="navbar-text">Environment</li>
        <% for (var i = 0; i < environments.length; i++) { %>
        <li<% if (selectedEnvironment == environments[i] ) { %> class="active"<% } %> environment="<%= environments[i] %>">
            <a href="#" ng-click="changeEnvironmentTab($event)"><%= environments[i] %></a>
        </li>
        <% } %>
    </ul>

    <div class="container">
    <%- include blocks/error-list.ejs %>
    </div>

</div>

<% } else { %>

<div class="container" role="main">
    <div class="jumbotron">
        <h1>Dashboard</h1>
        <p>You have not logged any errors.</p>
    </div>
</div>

<% } %>

<%- include footer.ejs %>