<%- include("template/header") %>

<% if (environments.length) { %>

<div class="container-fluid" ng-controller="DashboardController">

    <nav>
        <div class="nav nav-tabs">
            <span class="nav-item navbar-text mr-3">Environment</span>
            <% for (var i = 0; i < environments.length; i++) { %>
            <a class="nav-item nav-link" ng-class="{active: (currentEnvironment == '<%= environments[i].name %>')}" href="javascript:" ng-click="changeEnvironmentTab('<%= environments[i].name %>')">
                <%= environments[i].name %>
            </a>
            <% } %>
        </div>
    </nav>

    <div class="tab-content">


        <svg version="1.1" id="ProgressGraph" width="100%" height="250px" graphType="line"></svg>
        <div id="ProgressGraphData" class="hidden">
            <scores>1176,1075,1113,908,766,985,974,718,972,916,910,859,955,833,954,942,920,986,914,936,1072,907,981,865,986,1007,1189,1113,759,913,813,959,961,1060,851,751,862,1065,977,839,969,911,703,762,857,771,864,1438,750,954,844,953,1106,916,805,1106,952,1054,970,1059,1010,1141,1015,753,1232,568,600,640,561,573,563,586,563,572,650,579,574,575,576,573,569,569,574,567,562,559,594,565,574,841,837,1015,1223,983,893,956</scores>
            <dates>1176,1075,1113,908,766,985,974,718,972,916,910,859,955,833,954,942,920,986,914,936,1072,907,981,865,986,1007,1189,1113,759,913,813,959,961,1060,851,751,862,1065,977,839,969,911,703,762,857,771,864,1438,750,954,844,953,1106,916,805,1106,952,1054,970,1059,1010,1141,1015,753,1232,568,600,640,561,573,563,586,563,572,650,579,574,575,576,573,569,569,574,567,562,559,594,565,574,841,837,1015,1223,983,893,956</dates>
        </div>


        <%- include("blocks/error-list") %>
    </div>

</div>

<% } else { %>

<div class="container-fluid">
    <div class="page-content">
        <section>
            <h1>Dashboard</h1>
            <p>No activity.</p>
        </section>
    </div>
</div>

<% } %>

<%- include("template/footer") %>