<%- include("template/header") %>

<% if (environments.length) { %>

<div ng-controller="DashboardController">

    <ul class="nav nav-tabs">
        <li class="nav-item"><span class="navbar-text">Environment</span></li>
        <% for (var i = 0; i < environments.length; i++) { %>
        <li class="nav-item <% if (selectedEnvironment == environments[i] ) { %> active<% } %>" environment="<%= environments[i] %>">
            <a class="nav-link" href="#" ng-click="changeEnvironmentTab($event)"><%= environments[i] %></a>
        </li>
        <% } %>
    </ul>

    <div class="container">
    <%- include("blocks/error-list") %>
    </div>

</div>

<% } else { %>

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p>You have not logged any errors.</p>
</div>

<% } %>

<%- include("template/footer") %>