<%- include("template/header") %>

<% if (environments.length) { %>

<div class="container-fluid" ng-controller="DashboardController">

    <nav>
        <div class="nav nav-tabs">
            <span class="nav-item navbar-text mr-3">Environment</span>
            <% for (var i = 0; i < environments.length; i++) { %>
            <a class="nav-item nav-link" ng-class="{active: (currentEnvironment == '<%= environments[i].name %>')}" href="javascript:" ng-click="changeEnvironmentTab('<%= environments[i].name %>')">
                <%= environments[i].name %>
            </a>
            <% } %>
        </div>
    </nav>

    <div class="tab-content">


        <svg version="1.1" id="ProgressGraph" width="100%" height="250px" graphType="line"></svg>
        <div id="ProgressGraphData" class="hidden">
            <scores>4,4,4,4,5,4,4,4,4,4,4,5,4,4,5,6,7,8,7</scores>
            <dates>1400537743,1400550363,1400551079,1400600792,1400611793,1400613121,1400613653,1400630687,1400631087,1400641492,1400641755,1400685691,1400700191,1400700450,1400700797,1400708831,1400719495,1400789037,1404664647</dates>
        </div>


        <%- include("blocks/error-list") %>
    </div>

</div>

<% } else { %>

<div class="container-fluid">
    <div class="page-content">
        <section>
            <h1>Dashboard</h1>
            <p>No activity.</p>
        </section>
    </div>
</div>

<% } %>

<%- include("template/footer") %>