<%- include header.ejs %>

<div class="container">

    <%- include blocks/error-occurrence.ejs %>

    <%- include blocks/error-details.ejs %>

    <%- include blocks/error-history.ejs %>

</div>

<div id="error-occurrence-metadata" class="hidden">
    <environment><%= error_occurrence.environment %></environment>
    <errorid><%= error_occurrence.error_id %></errorid>
</div>

<%- include footer.ejs %>