<%- include("template/header") %>

<div class="container-fluid">

    <div class="page-content">
        <section>
            <%- include("blocks/error-occurrence") %>
            <%- include("blocks/error-details") %>
            <%- include("blocks/error-history") %>
        </section>
    </div>

</div>

<div id="error-occurrence-metadata" class="d-none">
    <environment><%= errorOccurrence.environment %></environment>
    <errorid><%= errorOccurrence.errorId %></errorid>
</div>

<%- include("template/footer") %>