<%- include("template/header") %>

<div class="container">

    <%- include("blocks/error-occurrence") %>

    <%- include("blocks/error-details") %>

    <%- include("blocks/error-history") %>

</div>

<div id="error-occurrence-metadata" class="d-none">
    <environment><%= errorOccurrence.environment %></environment>
    <errorid><%= errorOccurrence.errorId %></errorid>
</div>

<%- include("template/footer") %>