<!DOCTYPE html>
    <html lang="en" ng-app="ErrorReporter">
        <head>
            <title>Dyspro Error Reporter</title>
            <script src="/framework.min.js"></script>
            <script src="/site.min.js"></script>
            <link rel="stylesheet" href="/site.min.css"/>
        </head>
        <body id="page-<%= page %>">

            <header class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a href="/">
                        <%- include("../svg/dyspro.svg") %>
                        <div class="navbar-header">
                            <span class="navbar-text">
                                / System Monitor
                                <% if (accountName) { %>
                                / <%= accountName %>
                                <% } %>
                            </span>
                        </div>
                    </a>
                    <% if (! userId) { %>
                    <form class="form-inline" method="post" action="/login">
                        <input type="text" placeholder="Email" class="form-control mr-2" name="email" required/>
                        <input type="password" placeholder="Password" class="form-control mr-2" name="password" required/>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                    <% } else { %>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item<% if (page == "dashboard") { %> active<% } %>">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item<% if (page == "settings") { %> active<% } %>">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                    <% } %>
                </div>
            </header>

            <% if (errorMessage) { %>
            <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= errorMessage %>
            </div>
            <% } %>

            <% if (successMessage) { %>
            <div class="container alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= successMessage %>
            </div>
            <% } %>